<h1> Devin Whall </h1>
<img src="my-nice-photo" alt="devin" height="300">
<h2> Devin does lots of cool stuff including cloud computing </h2>
<p> I want to learn to code beacause most cloud jobs almost are leaning to full tim programers</p>
<a href="http://www.w3schools.com">Read more at W3Schools.com!</a>
