<div class="profile">
 <h1> Welcom to my profile! </h1>
<h1> Devin Whall </h1>
<img src="DSCN0248.JPG" />
<h2> Devin does lots of cool stuff including cloud computing </h2>
<p> I want to learn to code beacause a lot IS jobs are leaning to full time programers.</p>
<a href="http://www.w3schools.com">Read more at Wheroku3Schools.com!</a>
</div>
