<div class="profile">
 <h1> Welcome to my profile! </h1>
<h1> Devin Whall </h1>
<img src="DSCN0248.JPG" />
<h2> Devin does lots of cool stuff including cloud computing </h2>
<p> I like learning new coding languages, especially with IS job opportunities leaning more towards full time programers.</p>
<a href="/read_more">Read more on my next page!</a>
</div>
