<h1> Welcom to my profile! </h1>
<div>
<h1> Devin Whall </h1>
</div>
  <img src="https://devmaster45-8242.nitrousproxy.com/containers/c8bc37ccfee982097843511f805f6633815157da130058b0038b49acb48b9903/download?path=/home/nitrous/workspace/public/DSCN0248.JPG&token=eyJwZXJtaXNzaW9ucyI6WyJkb3dubG9hZCJdLCJjcmVhdGVkX2F0IjoiMjAxNi0wNS0xNVQxODoyMjoyOS40MjU3OTIxMzRaIiwiZXhwaXJlc19hdCI6IjIwMTYtMDUtMTVUMTg6MjQ6MjkuNDI1NzkyMTM0WiJ9--a28edc866410fa1a806835748bfe6edade52a2a9" alt="devin" height="300">
<h2> Devin does lots of cool stuff including cloud computing </h2>
<p> I want to learn to code beacause most cloud jobs almost are leaning to full tim programers</p>
<a href="http://www.w3schools.com">Read more at Wheroku3Schools.com!</a>

