<div class="profile">
<h1> Welcom to my second page the read more view</h1>
<h1> Devin Whall </h1>
<img src="DSCN0248.JPG" />
<h2> Devin is finished with assignment 1</h2>
<p> I learned new things but glad to be done for now.</p>
</div>
