body {
  background-image: url("http://img2-3.timeinc.net/toh/i/g/13/kitchens/08-color-cabinets/color-cabinets-x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.profile {
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.profile h1 {
   font-size: 50px;
   text-transform: uppercase;
 }
.profile img {
   width: 480px;
   height: ;
   border-radius: 50px;
 }
html {
  background: url('http://farm2.staticflickr.com/1100/1471214453_f7677b7816_b.jpg') no repaet center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
}